.App {
  text-align: center;
  margin: 0 20rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.applist {
  padding: 5rem;
}

.actionBar {
  display: flex;
  justify-content: space-between;
}

.tableRow {
  cursor: pointer;
}

.tableRow:hover {
  background-color: rgba(0, 255, 255, 0.253);
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag {
  text-align: left;
  padding: 1rem;
  margin: 0.4rem;
}